:root{
  --bgcolor:#F7DFFF;

}




body {
    background:var(--bgcolor);}
    
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
  
    main img{
        width:100%;
      display:block;
    }

   